@import "./variables.scss";

a {
  text-decoration: none;
  color: $basic-white;
}

.page-body {
  font-family: 'Montserrat', "Arial", sans-serif;
  background-color: $page-background;
  margin: 0;
}

.wrapper {

  margin: 0 auto;
  min-width: 320px;
  max-width: 1920px;
}

.yellow-button {
  transform: skewX(-17deg);
  width: 282px;
  height: 60px;
  background-color: $accent-color;
  color: $basic-white;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  cursor: pointer;
  border: none;

  &__text {
    display: block;
    transform: skewX(17deg);
  }

  &:hover,
  &:active {
    background-color: $basic-white;
    color: $accent-color;
  }

  &:after {
    content: "";
    top: 0;
    right: -10px;
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: $basic-white;
    cursor: pointer;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    width: 201px;
  }

  @media (max-width: $big-mobile-width) {
    width: 274px;
  }

  @media (max-width: $mobile-width) {
    width: 254px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overflow {
  overflow: hidden;
}
