.main-slider {
  height: 90vh;
  color: $basic-white;
  overflow: hidden;

  &__slide {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    display: flex;
    align-items: flex-end;

    & .container {
      padding-left: 100px;
      padding-right: 100px;
      margin-bottom: 120px;

      @media (max-width: $tablet-width) {
        width: 100%;
        padding-left: 40px;
      }
    }
  }

  &__description {
    width: 85%;
    margin-bottom: 100px;

    @media (max-width: $tablet-width) {
      width: 100%;
    }

    @media (max-width: $big-mobile-width) {
      margin-bottom: 50px;
    }

  }

  &__title {
    font-size: 42px;
    line-height: 51px;
    text-transform: uppercase;
    font-weight: bold;

    @media (max-width: $big-mobile-width) {
      font-size: 36px;
    }
  }

  &__text {
    font-size: 16px;
    opacity: .7;
    margin-bottom: 40px;
  }

  &__nav {
    position: absolute;
    left: 75%;
    top: auto;
    transform: translateY(-20px);
    z-index: 2;

    @media (max-width: $tablet-width) {
      left: 40px;
      transform: translateY(-420px);
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: nowrap;
  }

}

.slide1 {
  background: linear-gradient(180deg, rgba(19, 19, 19, 0) 63.02%, #131313 100%), url(../img/slide_1.png);
}

.slide2 {
  background: linear-gradient(180deg, rgba(19, 19, 19, 0) 63.02%, #131313 100%), url(../img/slide_2.png);
}

.slide3 {
  background: linear-gradient(180deg, rgba(19, 19, 19, 0) 63.02%, #131313 100%), url(../img/slide_3.png);
}

.swiper-pagination-vertical.swiper-pagination-bullets {
  position: inherit;
}

.swiper-pagination.swiper-pagination-horizontal.swiper-pagination-bullets {
  left: 87%;
  bottom: 160px;
  align-items: end;

  @media (max-width: $laptop-width) {
    left: 80%;
  }
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  padding: 15px 0 0 0;
  text-align: end;

}

.swiper-pagination .swiper-pagination-bullet {
  display: block;
  height: auto;
  position: initial;
  background: none;


  &:hover {
    color: $accent-color;
    opacity: 1;
  }
}

.swiper-pagination {
  text-align: right;
  position: inherit;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: none;
  font-weight: 700;
}
