
$basic-white: #FFFFFF;
$page-background: #131313;
$base-background: #272727;
$base-dark: #171717;
$base-grey: #2B2B2B;
$form-text: #808080;
$cards-text: #666666;
$accent-color: #C2AB81;

$width-for-popup: 1800px;

$mobile-width: 320px;
$big-mobile-width: 550px;
$tablet-width: 768px;
$min-laptop-width: 1200px;
$laptop-width: 1670px;
$desktop-width: 1920px;
